.innerBox {
  background: var(--colorPrimaryInverted2);
  text-align: center !important;
}

.innerBoxCreateRobot {
  background: var(--colorBackgroundCta);
  text-align: center !important;
}

.clickicon{
  font-size: '4rem';
  color: var(--colorPrimary);
}

.clickiconCreateRobot {
  font-size: '4rem';
  color: var(--colorBackground2);
}

.title {
  color: var(--colorPrimaryInvertedText) !important;
  text-align: center;
}
