.box {
  text-align: center;
  padding: 1rem;
  height: 13rem;
  border-radius: 5px;
}

.robotBox {
  background: var(--colorPrimaryInverted2);
}

.createRobotBox {
  background: var(--colorBackgroundCta);
}

.clickableIcon{
  color: var(--colorPrimary);
  font-size: 4rem;
}

.title {
  color: var(--colorPrimaryInvertedText) !important;
  text-align: center;
}
