.element-properties button + button {
  margin-left: 10px;
}

.label-on-dark-background {
  color: black;
  font-weight: bold;
}

.sidebarWrapper {
  margin-left: 100;
  padding-bottom: 1rem;
}
.properties-panel-dropdown {
  width: 100%;
  margin-top: 10px;
}
