.element-properties button + button {
    margin-left: 10px;
}

.label-on-dark-background {
    color:black;
    font-weight: bold;
}

.sidebarWrapper {
    margin-left: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}