.label-on-dark-background {
  color: var(--colorPrimaryInvertedText) !important;
}

.title {
  margin-bottom: 0rem !important;
  color: var(--colorPrimaryInvertedText) !important;
}

.properties-panel-dropdown {
  width: 100%;
}

.sider {
  background: var(--colorPrimaryInverted2);
  padding: 1rem;
  min-width: 20rem !important;
}

.button {
  width: 100%;
}
